
<ion-header>
  <ion-navbar color="primary">
    <button *ngIf="!toggled" ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- Title -->
    <ion-title *ngIf="!toggled">{{searchBarPlaceholder}}</ion-title>
    <!-- Search Bar -->
    <ion-searchbar *ngIf="toggled" [(ngModel)]="searchTerm" [showCancelButton]="true" (ionCancel)="toggleSearch()"
      [formControl]="searchControl" [placeholder]="searchBarPlaceholder"></ion-searchbar>
    <!-- Search Icon -->
    <ion-buttons end *ngIf="!toggled">
      <button ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <ion-tabs [tabsPlacement]="tabsPlacement" [tabsLayout]="tabsLayout" (ionChange)="tabSelected($event)">
    <ion-tab [root]="discover" tabTitle="Discover" tabIcon="film"></ion-tab>
    <ion-tab [root]="watch" tabTitle="Watch" tabIcon="eye" (ionSelect)="watchSelected()"></ion-tab>
    <ion-tab [root]="seen" tabTitle="Seen" tabIcon="checkmark" (ionSelect)="seenSelected()"></ion-tab>
    <ion-tab [root]="recommendation" tabTitle="Recommended" tabIcon="flag"></ion-tab>
    <ion-tab [root]="social" tabTitle="Friends" tabIcon="people"></ion-tab>
  </ion-tabs>
</ion-content>
